:root {
    --grid-cols: 1;
    --grid-rows: 1;
}

.container {
    display: grid;
    grid-template-columns: repeat(var(--grid-cols), 1fr);
    grid-template-rows: repeat(var(--grid-rows), 1fr);
    

    background-color: antiquewhite;
    width: 400px;
    height: 400px;
}

.resetButton {
    background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 6px;
}



